

.code-block {
  margin-bottom: get('rhythm') * 1.5;

  &--code {
    @include grid(6);
  }

  &--ui {
    @include grid(6, $has-right-gutter: false);
    margin-top: 0rem;
  }
}

.color-tile {
  height: 8rem;
  width: 8rem;
  padding: get('rhythm') / 4;
  display: inline-block;
  float: left;
  margin: 0rem;

  $index: 1;
  $colors: ('purple', 'teal', 'gray', 'white');
  @each $key in $colors {
    @each $tone, $color in map-get($ColorPalette, $key) {
      &:nth-of-type(#{$index}) {
        background-color: $color;
        font-weight: get('weight medium');

        &:after {
          content: "#{$key} #{$tone} | #{$color}";
          display: none;
        }

        .base--p {
          color: set-text-color($color);
          text-transform: capitalize;
        }
      }

      $index: $index + 1;
    }
  }

  &--details {
    margin-top: 0rem;
  }
}

.left-column {
  @include grid(6);
  background-color: color('purple', 30);
  height: 3rem;
  margin-top: 0rem;
}

.right-column {
  @include grid(6, $has-right-gutter: false);
  background-color: color('teal', 30);
  height: 3rem;
  margin-top: 0rem;
}
