

.code-block {
  margin-bottom: get('rhythm') * 1.5;

  &--code {
    @include grid(6);
  }

  &--ui {
    @include grid(6, $has-right-gutter: false);
    margin-top: 0rem;
  }
}

.color-tile {
  height: 8rem;
  width: 8rem;
  padding: get('rhythm') / 4;
  display: inline-block;
  float: left;
  margin: 0rem;

  $index: 1;
  $colors: ('purple', 'teal', 'gray', 'white');
  @each $key in $colors {
    @each $tone, $color in map-get($ColorPalette, $key) {
      &:nth-of-type(#{$index}) {
        background-color: $color;
        font-weight: get('weight medium');

        &:after {
          content: "#{$key} #{$tone} | #{$color}";
          display: none;
        }

        .base--p {
          color: set-text-color($color);
          text-transform: capitalize;
        }
      }

      $index: $index + 1;
    }
  }

  &--details {
    margin-top: 0rem;
  }
}

.left-column {
  @include grid(6);
  background-color: color('purple', 30);
  height: 3rem;
  margin-top: 0rem;
}

.right-column {
  @include grid(6, $has-right-gutter: false);
  background-color: color('teal', 30);
  height: 3rem;
  margin-top: 0rem;
}


.right-pane {
  height: 100%;
  width: 75%;
  margin-left: 25%;
  margin-top: 0rem;
}

.right-pane ._container {
  margin-left: get('rhythm') * 3 / 2;
  // width: 100%;
}

/*
 * jquery.tocify.css 1.9.0
 * Author: @gregfranko
 */

/* The Table of Contents container element */
.tocify {
  width: 25%;
  height: 100%;
  overflow: auto;
  margin: 0rem;
  position: fixed;
  background-color: color('white', 40);
  font-size: ms(3);
  font-weight: 400;
  padding-top: get('rhythm') * 7 / 8;
  padding-right: get('rhythm') * 3 / 4;
  text-align: right;
}

/* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */
.tocify ul, .tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

/* Top level header elements */
.tocify-header {
    text-indent: 10px;
}

/* Top level subheader elements.  These are the first nested items underneath a header element. */
.tocify-subheader {
    text-indent: 20px;
    display: none;
    font-size: ms(-1);
}

/* Makes the font smaller for all subheader elements. */
.tocify-subheader li {
  font-size: 1em;
}

/* Further indents second level subheader elements. */
.tocify-subheader .tocify-subheader {
    text-indent: 30px;
}

/* Further indents third level subheader elements. You can continue this pattern if you have more nested elements. */
.tocify-subheader .tocify-subheader .tocify-subheader {
    text-indent: 40px;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a, .nav-list .nav-header {
    margin: 0px;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a {
    padding: 5px;
}

/* Updated styles */

.tocify-subheader[data-tag="3"] {
  display: block;
}

.tocify-subheader li.active {
  color: get('primary color');
}

.tocify ul {
  margin-top: get('rhythm') / 4;
  margin-bottom: get('rhythm') / 4;
}
