@import 'lib/style';

.code-block {
  margin-bottom: get('rhythm') * 1.5;

  &--code {
    @include grid(6);
  }

  &--ui {
    @include grid(6, $has-right-gutter: false);
    margin-top: 0;
  }

  .base--pre {
    transition: 0.2s;
    width: 100%;
    z-index: 1000;
  }
}

.color-tile {
  height: 8rem;
  width: 8rem;
  padding: get('rhythm') / 4;
  display: inline-block;
  float: left;
  margin: 0;
  $index: 1;
  $colors: ('purple', 'teal', 'gray', 'white');

  @each $key in $colors {
    @each $tone,
    $color in map-get($ColorPalette, $key) {
      &:nth-of-type(#{$index}) {
        background-color: $color;
        font-weight: get('weight medium');

        &::after {
          content: "#{$key} #{$tone} | #{$color}";
          display: none;
        }

        .base--p {
          color: set-text-color($color);
          text-transform: capitalize;
        }
      }

      $index: $index + 1;
    }
  }

  &--details {
    margin-top: 0;
  }
}

.column-1 {
  @include grid(6);
  background-color: color('purple', 50);
  height: 3rem;
}

.column-2 {
  @include grid(3);
  background-color: color('teal', 50);
  height: 3rem;
  margin-top: 0;
}

.column-3 {
  @include grid(3, $has-right-gutter: false);
  background-color: color('gray', 50);
  height: 3rem;
  margin-top: 0;
}

.left-division {
  @include divisions(2);
  background-color: color('purple', 30);
  height: 7rem;
}

.right-division {
  @include divisions(2);
  margin-top: 0;
  background-color: color('teal', 30);
  height: 7rem;
}

.grid-item {
  @include divisions(5);
  background-color: color('purple', 50);
  height: 3rem;
  margin-top: 0;

  &:nth-of-type(2n) {
    background-color: color('teal', 50);
  }
}

.breakpoint-example-1 {
  display: block;
  background-color: color('purple', 50);
  padding: get('rhythm') / 2;
  color: get('white');

  @include breakpoint(get('large')) {
    @include grid(6);
  }
}

.breakpoint-example-2 {
  display: block;
  background-color: color('teal', 50);
  padding: get('rhythm') / 2;
  color: get('white');
  margin-top: 0;

  @include breakpoint(get('large')) {
    @include grid(6, $has-right-gutter: false);
  }
}

.element-with-dark-text {
  display: block;
  padding: get('rhythm') / 2;
  background-color: color('purple', 20);
  color: set-text-color(color('purple', 20));
}

.element-with-light-text {
  display: block;
  padding: get('rhythm') / 2;
  background-color: color('purple', 80);
  color: set-text-color(color('purple', 80));
}

.lots-of-colors {
  display: block;
  padding: get('rhythm') / 2;
  background-color: color('white', 40);

  span:nth-of-type(1) {
    color: color('green', 50);
  }

  span:nth-of-type(2) {
    color: color('blue', 40);
  }

  span:nth-of-type(3) {
    color: color('yellow', 30);
  }
}

.get-example {
  display: block;
  padding: get('rhythm') / 2;
  background-color: get('secondary color');
  color: get('white');
  margin-top: 0;

  @include breakpoint(get('medium')) {
    @include grid(6);
    &:nth-of-type(2) {
      margin-right: 0;
    }
  }
}

.right-pane {
  height: 100%;
  width: 75%;
  margin-left: 25%;
  margin-top: 0;
}

.right-pane ._container {
  margin-left: get('rhythm') * 3 / 2;
}

/*
 * jquery.tocify.css 1.9.0
 * Author: @gregfranko
 */
/* The Table of Contents container element */
.tocify {
  width: 25%;
  height: 100%;
  overflow: auto;
  margin: 0;
  position: fixed;
  background-color: color('white', 40);
  font-size: ms(3);
  font-weight: 400;
  padding-top: get('rhythm') * 7 / 8;
  padding-right: get('rhythm') * 3 / 4;
}

/* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */
.tocify ul,
.tocify li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

/* Top level header elements */
.tocify-header {

  & > .tocify-item {
    font-weight: bold;
    margin-bottom: 2rem;
    padding-left: 1.5rem;

    &:hover {
      a {
        border-bottom: 3px solid color('teal', 50);
      }
    }
  }
}

/* Top level subheader elements.  These are the first nested items underneath a header element. */
.tocify-subheader {
  text-indent: 3rem;
  display: none;
  font-size: ms(-1);
}

/* Makes the font smaller for all subheader elements. */
.tocify-subheader li {
  font-size: 1em;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  & a {
    border-bottom: 2px solid transparent;
  }

  &:hover {
    color: color('teal', 50);

    & a {
      border-bottom: 2px solid color('teal', 50);
    }
  }

  &:active {
    color: color('teal', 80);

    & a {
      border-bottom: 2px solid color('teal', 80);
    }
  }

  &.active {
    & a {
      border-bottom: 2px solid color('teal', 50);
    }

    &:active {
      color: color('teal', 80);

      & a {
        border-bottom: 2px solid color('teal', 80);
      }
    }
  }
}

/* Further indents second level subheader elements. */
.tocify-subheader .tocify-subheader {
  text-indent: 4rem;
}

/* Further indents third level subheader elements. You can continue this pattern if you have more nested elements. */
.tocify-subheader .tocify-subheader .tocify-subheader {
  text-indent: 5rem;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a,
.nav-list .nav-header {
  margin: 0;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a {
  padding: 0rem;
}

/* Updated styles */
.tocify-subheader[data-tag="3"] {
  display: block;
}

.tocify-subheader[data-tag="4"] {
  li {
    font-weight: 300;
    font-size: ms(0);
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
  }
}

.tocify ul {
  margin-top: get('rhythm') / 4;
  margin-bottom: get('rhythm') / 4;
}
